@charset "UTF-8";

.header {
  padding: 48px 32px 24px;
  border-bottom: 1px solid #ccc;
  &__date {
    display: block;
    color: #343a40;
    font-size: 36px;
  }
  &__day {
    color: #868e96;
    font-size: 20px;
    font-weight: 400;
  }
}