@charset "UTF-8";

.list {
  padding: 20px 32px 48px;
}

.todoitem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  &__delete {
    opacity: 0;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: opacity .2s;
  }
  &:hover {
    .todoitem__delete {
      opacity: 1;
    }
  }
}