.fieldset {
  padding: 20px;
  border: 1px solid #111;
  border-radius: 4px;
}
.form_group {
  display: flex;
  align-items: flex-start;
  flex-flow: column wrap;
  margin: 20px 0;
  label {
    margin-bottom: 8px;
    font-size: 13px;
    color: #111;
    font-weight: 700;
  }
  input {
    width: 100%;
    padding: 14px;
    border: 1px solid #ddd;
    color: #111;
    font-size: 16px;
    &:focus {
      border-width: 1.5px;
      border-color: #333;
    }
  }
}